
        html, body, #map {
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
            padding:0;
            margin:0;
            height:100%;
            width: 100%;
        }
        #map {
            position: relative;
        }

        .index-content
        {
            text-align: center;
        }
        .index-content label
        {
            display: block;
            font-size: 40px;
            margin-bottom: 20px;
        }
        .index-content a
        {
            display: block;
        }

        #info {
          background: rgba(255, 255, 255, 0.7);
          border: 8px solid rgb(91, 187, 219);
          border-radius: 3px;
          box-shadow: 0 0 5px #888;
          left: 1em;
          padding: 0.5em;
          position: absolute;
          top: 1em;
          z-index: 40;    
        }

        #content {
          -webkit-transition: width 200ms linear, height 200ms linear;
          -ms-transition: width 200ms linear, height 200ms linear;
          transition: width 200ms linear, height 200ms linear;
        }

        button, a
        {
            background-color: #fff;
            border: 1px solid #000 ;
            border-radius: 3px;
            color: #000 !important;
            cursor: pointer;
            font-weight: bold;
            text-decoration:none;
            padding: 3px;
            transition: 
                border-color 200ms ease-out, 
                background-color 200ms ease-out, 
                color 200ms ease-out;
            width: auto;
        }   
        button:hover, a:hover
        {
            background-color: rgb(68, 144, 169);
            border: 1px solid #fff ;
            color: #fff !important;
            text-decoration:none;
        }

        a
        {
            background-color: transparent !important;
            border: 0px;
            border-radius: 3px;
            color: rgb(102, 106, 118) !important;
            font-weight: normal;
        }   
        a:hover
        {
            background-color: rgba(68, 144, 169, 1) !important;
            border: 0px;
            color: #fff !important;
            text-decoration: none !important;
        }